/Aulas_De_Desenvolvimento_de_Sistema/Projetos_em_Java/ExemploLabel_29/nbproject/private/
/Aulas_De_Desenvolvimento_de_Sistema/Projetos_em_Java/ExemploLabel_29/build/
/Aulas_De_Desenvolvimento_de_Sistema/Projetos_em_Java/ExemploLabel_42/nbproject/private/
/Aulas_De_Desenvolvimento_de_Sistema/Projetos_em_Java/ExemploLabel_42/build/
/Aulas_De_Desenvolvimento_de_Sistema/Projeto_em_Java_01/ExemploLabel_42/build/
/Aulas_De_Desenvolvimento_de_Sistema/Projeto_em_Java_01/ExemploLabel_42/nbproject/private/
/Aulas_De_Desenvolvimento_de_Sistema/Contas/JavaApplication1/nbproject/private/
/Aulas_De_Desenvolvimento_de_Sistema/Contas/JavaApplication1/build/
/Aulas_De_Desenvolvimento_de_Sistema/limpar/nbproject/private/
/Aulas_De_Desenvolvimento_de_Sistema/limpar/build/
/Aulas_De_Desenvolvimento_de_Sistema/Ocultar/Ocultar/nbproject/private/
/Aulas_De_Desenvolvimento_de_Sistema/Ocultar/Ocultar/build/
/Aulas_De_Desenvolvimento_de_Sistema/Desabilitar/DesabilitarHabilitar/nbproject/private/
/Aulas_De_Desenvolvimento_de_Sistema/Desabilitar/DesabilitarHabilitar/build/
/Aulas_De_Desenvolvimento_de_Sistema/MatrixScreen/MatrixScreen/nbproject/private/
/Aulas_De_Desenvolvimento_de_Sistema/MatrixScreen/MatrixScreen/build/